# Demo solid elastic inc_analysis template.

inp_files = [
    "Examples/PlateWithHole/abaqus/Load1Ela.inp",
    "Examples/PlateWithHole/abaqus/Load2Ela.inp"
]

material_model = linear_elastic
use_b_ext = 1
gauss_order = 2
n_increments = 1
E_override = None
nu_override = None
