# Demo solid shakedown template.

mat_files = [
    "Examples/PlateWithHole/inc_analysis/Load1Ela.mat",
    "Examples/PlateWithHole/inc_analysis/Load2Ela.mat"
]

formulation = C
solver = cvxpy
R_ratios = [0, 0]
yield_values = {'MATERIAL-1': 280}
num_vert = 4
use_angles = yes
theta_deg = [0, 45, 90]
phi_deg = [0]
load_factor_set = [
    [1.0, 0.0],
    [0.70710678, 0.70710678]
]
